.inputField {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField label {
  width: 20% !important;
  color: #010101;
  font-size: 1.2rem;
  margin-left: 10px;
}

.inputField input {
  background-color: #f5f5f5 !important;
  border: none !important;
  border-radius: 10px !important;
  padding: 0 10px !important;
  font-family: "Rabar";
  margin-left: 40px !important;
}
